body {
	background: #cccccc;
}

#align {
	display: flex;
  align-items: center;
  justify-content: center;	
  height: 100vh;
}

#stage {
	width: 900px;
	height: 556px;
	margin: auto;
	background: white;
	position: relative;
}

/*#triangle {
	width: 0;
	height: 0;
	border-left: 61px solid transparent;
	border-right: 62px solid transparent;
	border-bottom: 87px solid red;
	position: absolute;
	top: 314px;
	left: 151px;
}

*/

#book1 {
	width: 239px;
	height: 65px;
	background: green;
	top: 307px;
	left: 129px;
	position: absolute;
	transform: skewy(-5deg);
}

#book2 {
	width: 249px;
	height: 35px;
	background: yellow;
	top: 260px;
	left: 109px;
	position: absolute;
	transform: skewy(-5deg);
}


#book3{
	width: 180px;
	height: 24px;
	background: lightgrey;
	top: 233px;
	left: 146px;
	position: absolute;
	transform: skewy(-5deg);
}



#apple {
	width: 100px;
	height: 100px;
	background: indianred;
	border-radius: 150px;
	top: 341px;
	left: 591px;
	position: absolute;
}

#anpanman-head {
	width: 90px;
	height: 90px;
	background: peachpuff;
	border-radius: 150px;
	top: 238px;
	left: 165px;
	position: absolute;
}

 #triangle {
	width: 0;
	height: 0;
	border-left: 61px solid transparent;
	border-right: 62px solid transparent;
	border-bottom: 87px solid red;
	position: absolute;
	top: 314px;
	left: 151px;
}


 #flower-plot {
	width: 150px;
	height: 150px;
	background: whitesmoke;
	clip-path: polygon(47% 20%, 59% 19%, 63% 35%, 84% 42%, 83% 79%, 65% 89%, 35% 89%, 20% 76%, 23% 43%, 43% 36%);
	top: 93px;
	left: 173px;
	position: absolute;

} 

#flower-stems{
	width: 154px;
	height: 106px;
	background: green;
  clip-path: polygon(28% 0, 51% 55%, 51% 55%, 54% 0, 61% 59%, 76% 0, 71% 58%, 100% 0, 56% 100%, 14% 3%, 43% 60%);
	top: 23px;
	left: 167px;
	position: absolute;
}

#pot{
	width: 196px;
	height: 190px;
	background: whitesmoke;
  clip-path: polygon(45% 32%, 78% 32%, 83% 62%, 79% 100%, 30% 100%, 14% 46%, 37% 64%);
	top: 182px;
	left: 414px;
	position: absolute;
}



/* animations */

/*
#clip:hover {
	transform: rotate(1200deg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100px);
  }
}

*/