body {
	background: #cccccc;
}

#align {
	display: flex;
  align-items: center;
  justify-content: center;	
  height: 100vh;
}

#stage {
	width: 900px;
	height: 556px;
	margin: auto;
	background: white;
	position: relative;
}

/*#triangle {
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-bottom: 150px solid yellow;
	position: absolute;
	top: 203px;
	left: 60px;
}

*/

#book1 {
	width: 239px;
	height: 65px;
	background: green;
	top: 307px;
	left: 129px;
	position: absolute;
	transform: skewy(-5deg);
}

#book2 {
	width: 249px;
	height: 35px;
	background: yellow;
	top: 260px;
	left: 109px;
	position: absolute;
	transform: skewy(-5deg);
}


#book3{
	width: 180px;
	height: 24px;
	background: lightgrey;
	top: 233px;
	left: 146px;
	position: absolute;
	transform: skewy(-5deg);
}



#circle {
	width: 150px;
	height: 150px;
	background: red;
	border-radius: 150px;
	top: 327px;
	left: 697px;
	position: absolute;
}

#anpanman-head {
	width: 90px;
	height: 90px;
	background: red;
	border-radius: 150px;
	top: 240px;
	left: 147px;
	position: absolute;
}


 #flower-plot {
	width: 150px;
	height: 150px;
	background: floralwhite;
	clip-path: polygon(47% 20%, 59% 19%, 63% 35%, 84% 42%, 83% 79%, 65% 89%, 35% 89%, 20% 76%, 23% 43%, 43% 36%);
	top: 203px;
	left: 690px;
	position: absolute;

	/* uncomment for css transitions */
	/* transition: all 400ms ease; */
} 

/* animations */

/*
#clip:hover {
	transform: rotate(1200deg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100px);
  }
}

*/