
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

h1 {
	margin: 40px;
	margin-left: 500px;
	color: WHITE;
}

body {

	background-color: darkred;
}



html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

.container{
  padding: 30px;
  margin: 30px;
}


.card {
  width: 200px;
  height: 300px;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.card img {
  max-width: calc(100% - 20px);
  max-height: calc(100% - 20px);
  border: 5px solid white;
  border-radius: 4px;
}





}

