* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

/* adjusting fonts */

@font-face {
  font-family: 'terminal-grotesque-webfont.woff';
	src: url('Fonts/TG/webspecimen/font/terminal-grotesque-webfont.woff') format('woff');
}


body{
	background: lightgray;
	color:#222;
	font-family:"terminal-grotesque-webfont.woff";
	padding:0;
	overflow:hidden;
}



a, a:visited {
  transition: all 500ms ease;
  color: blue;
}

a:hover {
  color: red;  
}

/* adjusting spacing */

#left-column {
	padding: 20px;
}

h1, p {
	margin: 50px;
	margin-left: 500px;
}

ul, ol {
	margin-left: 100px;
}

img {
	max-width: 100%;
	height:  auto;
}


.desc {
	margin-left: 400px;
}

.exercises{
	position: absolute;
	width: 58px;
	height: 100px;
	left: 50px;
	background: #222;

}


button{
	font-size: 1rem;
	font-weight: bold;
	border: 2px solid var(--accent-color);
	background: black;
	color: white;
	padding: 0.5rem;
	margin-bottom: 1rem; 
	border-radius: 30px;
	right: 150px;
	position: relative;
	top: 26px;
	left: 54px;
}


button:hover{
	background: rgb(200 200 200);
	cursor: pointer;
}


/*	DARK MODE STYLES GO HERE */

body.darkmode {
	background: black;
	color: white;

	/*	redefine a CSS variable */
	--accent-color: rgb(0,255,0);
}

body.darkmode button{
	color: black;
	background-color: white;
}

/* media queries */

@media only screen and (max-width: 812px) { 
    	body {
        background: beige;
   		}
}   				 