* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

/* adjusting fonts */

@font-face {
  font-family: 'terminal-grotesque-webfont.woff';
	src: url('Fonts/TG/webspecimen/font/terminal-grotesque-webfont.woff') format('woff');
}


body{
	background-image: url("photos/whiteb.jpeg");
  background-position: top left; 
  background-size: cover;
	color:#222;
	font-family:"terminal-grotesque-webfont.woff";
}



/* adjusting spacing */

#left-column {
	padding: 20px;
}

h1{
	position: relative;
	top: -10vh;
	font-size: 50px;
}

.description{
	position: relative;
	top: -5vh;
}

.favorite{
  position: relative;
  width: 296px;
  height: 161px;
	left: 597px;
  top: 163px;
  border-radius: 50%;
  background: black;
  color: white;
}

.favorite-text {
  position: absolute;
  left: 35%; 
  top: -13%;
  transform: translateY(-50%);
  font-size: 30px; 
  color: black;
}



.exercises{
  position: relative;
  width: 300px;
  height: 300px;
  left: 151px;
  top: -116px;
  border-radius: 50%;
  background: black;
  color: white;
}


.exercises-text {
  position: absolute;
  left: 25%; 
  top: -10%;
  transform: translateY(-50%);
  font-size: 30px; 
  color: black;
}


.favorite ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.exercises ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}




.emoji{
  position: relative;
  width: 150px;
  height: 61px;
  left: 520px;
  top: -437px;
  border-radius: 50%;
  background: black;
  color: white;
}


.emoji-txt {
  position: absolute;
  left: 20%; 
  top: -30%;
  transform: translateY(-50%);
  font-size: 30px; 
  color: black;
}

.emoji a {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

}

button{
	font-size: 1rem;
	font-weight: bold;
	border: 2px solid var(--accent-color);
	background: black;
	color: white;
	padding: 0.5rem;
	margin-bottom: 1rem; 
	border-radius: 30px;
	right: -1200px;
	position: relative;
	top: 26px;
}


button:hover{
	background: rgb(200 200 200);
	cursor: pointer;
}


/*	DARK MODE STYLES GO HERE */

body.darkmode {
	background-image: url("photos/blackb.jpeg");
	color: white;

	/*	redefine a CSS variable */
	--accent-color: rgb(0,255,0);
}

body.darkmode button{
	color: black;
	background-color: green;
}

/* media queries */

@media only screen and (max-width: 812px) { 
    	body {
        background: white;
   		}
}   				 