* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;

}

body {
  background-image: url('skycolor.png');
  overflow: hidden;
}

/* nav bar */

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    border-bottom: 2px solid black;
}
    
ul.navbar li {
   float: right; 
}
    
ul.navbar li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
    
ul.navbar li a:hover {
background-color: #ddd;
}
 
/* 1st page - home page */

#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	align-items: center;
}

#left-column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cloud-container {
	position: absolute;
	width: 300px;
	height: 200px;
	margin-bottom: 20px;
}

.cloud-text1 {
  position: absolute;
  top: 590px;
  left: 64px;
  font-size: 20px;
  color: white;
  text-align: center;
}

.cloud1 {
  position: absolute;
  top: 468px;
  left: -134px;
  opacity: 0.3;
}

.cloud-text2 {
  position: absolute;
  top: 590px;
  left: 429px;
  font-size: 20px;
  color: white;
  white-space: nowrap;
}

.cloud2 {
  position: absolute;
  top: 480px;
  right: -405px;
  opacity: 0.3;
}


.cloud-text3 {
  position: absolute;
  top: 590px;
  left: 860px;
  font-size: 20px;
  color: white;
  text-align: center;
}


.cloud3 {
  position: absolute;
  top: 480px;
  left: 700px;
  opacity: 0.3;
}

.cloud4 {
  position: absolute;
  top: 200px;
  right: -880px;
  opacity: 0.3;
}

.cloud5 {
  position: absolute;
  top: 255px;
  left: -350px;
  opacity: 0.3;
}

.cloud6 {
  position: absolute;
  top: -20px;
  right: -600px;
  opacity: 0.3;
}

.cloud7 {
  position: absolute;
  top: 50px;
  left: 50px;
  opacity: 0.3;
}

.cloud1:hover,
.cloud2:hover,
.cloud3:hover{
	opacity: 1;
}

.cloud-container:hover .cloud-text1,
.cloud-container:hover .cloud-text2,
.cloud-container:hover .cloud-text3 {
	color: black;
}



h1.cor {
	position: absolute;
  font-size: 60px;
  margin-top: 330px;
  left: 250px;
  align-items: center;
  color: whitesmoke;
}




/* 2nd page - unwind */

#big-box {

	width: 800px;
	height: 500px;
	background: white;
	top: 100px;
	left: 300px;
	position: absolute;
	border-style: solid;
}


#suggestions{
	position: absolute;
  font-size: 60px;
  margin-top: 330px;
  left: 250px;
  align-items: center;
}





