* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;

}

body {
  background-image: url('skycolor.png');
  overflow: hidden;
}


/* 1st page - home page */

#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	align-items: center;
}

#left-column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cloud-container {
	position: absolute;
	width: 300px;
	height: 200px;
	margin-bottom: 0px;
}

.cloud-text1 {
  position: absolute;
  top: 590px;
  left: 64px;
  font-size: 20px;
  color: white;
  text-align: center;
}

.cloud1 {
  position: absolute;
  top: 468px;
  left: -134px;
  opacity: 0.3;
}

.cloud-text2 {
  position: absolute;
  top: 590px;
  left: 429px;
  font-size: 20px;
  color: white;
  white-space: nowrap;
}

.cloud2 {
  position: absolute;
  top: 480px;
  right: -405px;
  opacity: 0.3;
}


.cloud-text3 {
  position: absolute;
  top: 590px;
  left: 860px;
  font-size: 20px;
  color: white;
  text-align: center;
}


.cloud3 {
  position: absolute;
  top: 480px;
  left: 700px;
  opacity: 0.3;
}

.cloud4 {
  position: absolute;
  top: 200px;
  right: -880px;
  opacity: 0.3;
}

.cloud5 {
  position: absolute;
  top: 255px;
  left: -350px;
  opacity: 0.3;
}

.cloud6 {
  position: absolute;
  top: -20px;
  right: -600px;
  opacity: 0.3;
}

.cloud7 {
  position: absolute;
  top: 50px;
  left: 50px;
  opacity: 0.3;
}

.cloud1:hover,
.cloud2:hover,
.cloud3:hover{
	opacity: 1;
}

.cloud-container:hover .cloud-text1,
.cloud-container:hover .cloud-text2,
.cloud-container:hover .cloud-text3 {
	color: black;
}



h1.cor {
	position: absolute;
  font-size: 60px;
  margin-top: 330px;
  left: 250px;
  align-items: center;
  color: whitesmoke;
}




/* 2nd page - unwind */


#suggestions{
	position: relative;
  font-size: 28px;
  margin-top: 60px;
  padding: 10px ;
  left: 350px;
  align-items: center;
  color: whitesmoke;
  white-space: nowrap;

}

#cloud-grid-container {
  position: relative;
  padding: 10px;
  left: 350px; 
  overflow: hidden; 
}

#cloud-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  justify-items: center;
}

.cloud-container2 {
  position: relative;
}

.rcloud-text {
  position: absolute;
  left: 30%;
  top: 38%;
  text-align: center;
  color: black;
  opacity: 0;
  font-size: 20px;
}


.cloud-container2:hover .rcloud-text{
	opacity: 1;
}

.google-form{
	position: absolute;
	left: 96px;
  top: 272px;
  width: 170px;
  height: 100px;
  color: black;
  font-style: oblique;
  background-color: white;
  opacity: 0.2;
  border-style: solid;
}


.google-form:hover{
  box-shadow: -3px 1px 10px 4px rgb(0 0 0);

}