* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;

}

body {
  background-image: url('skycolor.png');
}

/* nav bar */

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    border-bottom: 2px solid black;
}
    
ul.navbar li {
   float: right; 
}
    
ul.navbar li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
    
ul.navbar li a:hover {
background-color: #ddd;
}
 
/* 1st page - home page */

h1.cor {

	background-color: #f1f1f1;
	color: black;
	margin: 30px;
	top: 250px;
	left: 300px;
	padding: 10px;
	font-size: 70px;
}

p.subtitle {

	color: black;
	font-size: 20px;
	margin: 10px;
	margin-left: 600px;

}


img.cloud1 {

	left: 600px;
	top: 100px;
}


img.cloud2 {

	left: 200px;
	top: 100px;
}



img.cloud3 {

	left: 100px;
	top: 20px;
}
/* 2nd page - unwind */

#big-box {

	width: 800px;
	height: 500px;
	background: white;
	top: 100px;
	left: 300px;
	position: absolute;
	border-style: solid;
}


#suggestions{
	background-color: #f1f1f1;
	padding: 20px;
	border-bottom: solid;
	text-align: center;

}

#button-container button {
  margin: 15px;
  padding: 10px 20px;
  background-color: #f1f1f1;
  border: solid;
  border-radius: 0px;
  color: #333;
  font-size: 14px;
  box-shadow: 1px 2px;
}



